.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.title {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 2;
  font-family: var(--font-mono);
}

.description {
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  z-index: 2;
  font-family: var(--font-mono);
}

.button {
  margin: 1rem 1.2rem;
  width: 200px;
  height: 100px;
  font-size: 2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid;
}

.timecard_table {
  border: solid 1px gray;
  border-spacing: 0px;
}

.timecard_table td {
  border: solid 1px gray;
  padding: 3px;
}

.timecard_table thead tr td:nth-child(1) {
  width: 130px;
}

.timecard_table thead tr td:nth-child(2) {
  width: 80px;
}

.timecard_table thead tr td:nth-child(3) {
  width: 80px;
}

.timecard_table tbody tr td:nth-child(1) {
  vertical-align: top;
}
